<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <input type="hidden" id="id" name="id" [(ngModel)]="user.id" />
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" name="name" value="" class="form-control" required [(ngModel)]="user.name" ngControl="name" #name="ngModel">
            <div [hidden]="name.valid" class="alert alert-danger">
                O Nome é Obrigatório
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="text" name="email" value="" class="form-control" required [(ngModel)]="user.email" ngControl="email">
        </div>
        <button [disabled]="!f.valid" type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
<div [hidden]="!submitted">
    Enviando ... {{user | json}}
</div>